:root {
  --main-color: #1B82E4;
  --second-color: #1C72C5;
  --third-color: #2C88FB;
  --bg-color: #F1F6FA;
  --marker-color: #BC1B25;
  --status-color: #888888;
  --border-color: #F0F0F0;
  --slick-dots: #c4c4c4;
  --menu-font-color: #666666;
  --font-color: #333333;
  --footer-bg-color: #404F5C;
  --main-font: 'Geometria', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::placeholder {
  opacity: 1;
  color: var(--main-color);
  transition: 0.4s transform, 0.4s opacity;
}

::-moz-selection {
  background: var(--main-color);
  color: #fff;
}

::selection {
  background: var(--main-color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 3px;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.65;
  letter-spacing: 1px;
  color: var(--main-color);
  font-family: var(--main-font);
  font-weight: 300;
  overflow-x: hidden;
  background-color: #fff;
}

@media screen and (max-width: 1300px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
}

a, button {
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  color: var(--copy-color);
  text-decoration: underline;
}

strong, b {
  color: var(--copy-color);
  font-weight: 800;
}

ul {
  list-style: none;
}

input,
textarea,
select {
  background: transparent;
  width: 100%;
  display: block;
  padding: 5px 0;
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 300;
  line-height: normal;
  border: none;
  outline: none;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
  opacity: 1;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 32px;
  height: 32px;
}

input[type='radio'],
input[type='checkbox'],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  cursor: pointer;
}

select {
  padding-right: 30px;
}

input:focus::placeholder {
  transform: translateX(9px);
  opacity: 0;
}

input[type='checkbox'], input[type='radio'] {
  background: #fff;
  position: relative;
  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
  border: 2px solid #000;
  transition: 0.2s;
}

input[type='checkbox'] {
  border-radius: 2px;
}

input[type='checkbox']::before {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  transform: rotate(45deg) scale(0);
  transition: 0.2s;
}

input[type='checkbox']:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

input[type='checkbox']:checked::before {
  transform: rotate(45deg) scale(1);
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='radio']::before {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  top: 3px;
  left: 3px;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: inherit;
  transform: scale(0);
  transition: 0.2s;
}

input[type='radio']:checked {
  border-color: var(--main-color);
  background-color: #fff;
}

input[type='radio']:checked::before {
  transform: scale(1);
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 2px;
  font-weight: 800;
}

/*==============================================================
	HEADER START */
/*============================================================= */
.header__schedule a, .header-mob__info .header__auth a, .header-mob__info .header__schedule a, .header-mob__info .header__phone a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--menu-font-color);
}

.header__schedule a img, .header-mob__info .header__auth a img, .header-mob__info .header__schedule a img, .header-mob__info .header__phone a img {
  padding: 0 5px;
  height: 13px;
}

.header-mob__info .header__auth span, .header-mob__info .header__schedule span, .header-mob__info .header__phone span {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--font-color);
}

.header {
  display: block;
  width: 100%;
  background-color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

@media screen and (max-width: 1200px) {
  .header__inner {
    display: none;
  }
}

.header__logo {
  width: 240px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__nav {
  flex-grow: 1;
}

.header__nav ul {
  display: flex;
  justify-content: space-around;
}

.header__nav ul a {
  position: relative;
  display: block;
  padding: 8px 0;
  margin: 0 12.5px;
  font-size: 14px;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  color: var(--menu-font-color);
}

.header__nav ul a::before {
  content: "";
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transition: opacity .3s ease-in-out;
}

.header__nav ul a:hover::before {
  opacity: 1;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__phone a {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: var(--font-color);
  padding-right: 17.5px;
}

.header__phone a::after {
  content: '';
  position: absolute;
  top: calc(50% - 6px);
  right: 0;
  display: block;
  border: 6px solid transparent;
  border-top: 6px solid var(--font-color);
  transform: translateY(calc(50% - 6px));
}

.header__phone a img {
  padding: 0 5px;
  height: 16px;
}

.header__sub-menu {
  height: 55px;
  width: 100%;
  background-color: var(--main-color);
}

@media screen and (max-width: 1200px) {
  .header__sub-menu {
    display: none;
  }
}

.header__sub-menu .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__catalog {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 235px;
  background-color: var(--second-color);
}

.header__catalog__title a {
  text-decoration: none;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #fff;
}

.header__search {
  width: 480px;
  height: 30px;
  border-radius: 4px;
  background-color: #fff;
}

.header__search .search-field {
  position: relative;
}

.header__search .search-field input {
  padding: 5px 30px 5px 10px;
}

.header__search .search-field input input:placeholder {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: var(--menu-font-color);
}

.header__search .search-field label img {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.header__personal {
  display: flex;
  align-items: center;
}

.header__shopping {
  padding-right: 25px;
}

.header__auth a {
  display: flex;
  align-items: center;
}

.header__auth a span {
  padding-left: 8px;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.header-mob {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .header-mob {
    display: none;
  }
}

.header-mob__sub {
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  background-color: #fff;
  transition: opacity .3s ease-in-out;
}

.header-mob__logo {
  width: 137px;
}

.header-mob__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.header-mob__burger {
  height: 20px;
  width: 25px;
  position: relative;
}

.header-mob__burger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--font-color);
}

.header-mob__burger span::after, .header-mob__burger span::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--font-color);
  transition: transform .4s ease-in-out;
}

.header-mob__burger span::after {
  bottom: 0;
}

.header-mob__burger span::before {
  top: 0;
}

.header-mob .active span {
  height: 0;
}

.header-mob .active span::after {
  top: 50%;
  transform: rotate(-45deg);
}

.header-mob .active span::before {
  top: 50%;
  transform: rotate(45deg);
}

.header-mob hr {
  border: 1px solid #DEDEDE;
}

.header-mob .directory {
  width: 100%;
  padding: 10px 15px;
  border: none;
}

.header-mob .directory__title {
  cursor: pointer;
  position: relative;
  margin: 15px 0;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: var(--menu-font-color);
}

.header-mob .directory__title::after {
  content: '';
  right: 15px;
  top: 50%;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid var(--menu-font-color);
  border-right: 2px solid var(--menu-font-color);
  transform: translateY(-50%) rotate(225deg);
}

.header-mob .directory li {
  margin-bottom: 10px;
}

.header-mob .directory li a {
  text-decoration: none;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--menu-font-color);
}

.header-mob__nav {
  padding: 0 15px;
}

.header-mob__nav li {
  margin: 20px 0;
}

.header-mob__nav li a {
  text-decoration: none;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-color);
}

.header-mob__info {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  padding: 30px 15px;
}

.header-mob__info .header__auth {
  margin-bottom: 30px;
}

.header-mob__info .header__auth span {
  padding-left: 10px;
}

.header-mob__info .header__schedule {
  margin-bottom: 30px;
}

.header-mob__info .header__schedule span {
  padding-left: 10px;
}

.header-mob__info .header__phone a::after {
  display: none;
}

.header-mob__info .header__phone span {
  padding-left: 10px;
}

/*============= BUTTONS STYLE ============= */
.btn, .btn-outline, .ml-slider__form:hover .ml-slider__button {
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: var(--main-color);
  border-radius: 5px;
  transition: 0.5s;
}

.btn-outline {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: #fff;
}

.button-section {
  margin: 0 auto;
  display: block;
  padding: 15px 60px;
  border-radius: 5px;
}

/*============= TITLE SECTION STYLE ============= */
.title-section {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  display: inline-block;
}

.title-section::after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  content: '';
  display: block;
  width: 60%;
  border: 2px solid var(--third-color);
  transform: translateX(-50%);
}

/*============= INDEX PAGE ============= */
.nav__inner {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .nav .container {
    padding: 0;
  }
}

.main .directory {
  height: 100%;
  width: 235px;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  padding: 5px 15px 15px 15px;
}

@media screen and (max-width: 1200px) {
  .main .directory {
    display: none;
  }
}

.main .directory li {
  margin-bottom: 5px;
}

.main .directory li a {
  text-decoration: none;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--menu-font-color);
}

/*============= MAIN SLIDER ============= */
.mn-slider {
  margin-bottom: 50px;
  width: calc(100% - 235px);
}

@media screen and (max-width: 1200px) {
  .mn-slider {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .mn-slider {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .mn-slider .slick-list.draggable {
    margin: 0;
  }
}

.mn-slider__item {
  position: relative;
}

.mn-slider__info {
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-15%, -50%);
}

@media screen and (max-width: 992px) {
  .mn-slider__info {
    display: none;
  }
}

.mn-slider__info h2 {
  color: #FFFFFF;
  font-family: Geometria;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 63px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.mn-slider__info a {
  color: #FFFFFF;
  font-family: Geometria;
  font-style: normal;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 50px;
  border: 2px solid #fff;
}

.mn-slider .slick-list {
  margin: 15px 15px 35px 15px;
}

.mn-slider .slick-prev.slick-arrow {
  width: 24px;
  height: 32px;
  z-index: 900;
  left: 40px;
  background: rgba(255, 255, 255, 0.45);
}

.mn-slider .slick-prev.slick-arrow::before {
  content: "";
  left: 50%;
  display: block;
  width: 12px;
  height: 12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  margin-left: 2px;
  transform: translateX(50%) rotate(45deg);
}

.mn-slider .slick-next.slick-arrow {
  width: 24px;
  height: 32px;
  z-index: 900;
  right: 40px;
  background: rgba(255, 255, 255, 0.45);
}

.mn-slider .slick-next.slick-arrow::before {
  content: "";
  right: 50%;
  display: block;
  width: 12px;
  height: 12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  margin-left: -2px;
  transform: translateX(50%) rotate(225deg);
}

.mn-slider .slick-dots {
  bottom: -35px;
}

.mn-slider .slick-dots .slick-active {
  background-color: var(--main-color);
}

.mn-slider .slick-dots li {
  height: 2px;
  width: 50px;
  margin: 0 10px;
  background-color: var(--slick-dots);
}

.mn-slider .slick-dots li::before {
  content: "";
}

.mn-slider .slick-dots li button:before {
  content: "";
}

/*============= SECTION BRANDS ============= */
.brands {
  margin-bottom: 50px;
  padding: 50px 0;
  background-color: var(--bg-color);
}

@media screen and (max-width: 768px) {
  .brands {
    margin-bottom: 30px;
  }
}

.brands .title-alignCenter {
  display: flex;
  justify-content: center;
}

.brands__inner {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media screen and (max-width: 1200px) {
  .brands__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .brands__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .brands__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}

.brands__items {
  display: flex;
  flex-direction: column;
}

.brands__item {
  margin: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  padding: 7.5px 0px;
}

.brands__img {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
  position: static;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.brands__img div {
  width: 60px;
}

.brands__img div img {
  margin: 0 auto;
  max-width: 60px;
}

.brands__title {
  position: relative;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: var(--font-color);
}

.brands__title:hover::after {
  opacity: 1;
}

.brands__title::after {
  opacity: 0;
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--third-color);
  transition: opacity .2s ease-in-out;
}

.brands .deploy {
  position: relative;
  display: block;
  margin: 30px auto 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .brands .deploy {
    display: none;
  }
}

.brands .deploy::after {
  content: '';
  position: absolute;
  top: calc(50% - 4.5px);
  right: -14.5px;
  display: block;
  width: 7.5px;
  height: 7.5px;
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transform: translateY(calc(50% - 4.5px)) rotate(-45deg);
}

.brands .active::after {
  transform: translateY(calc(50% - 4.5px)) rotate(135deg);
}

/*============= MARKET LEADERS SLIDER ============= */
.ml-slider {
  margin-bottom: 50px;
}

.ml-slider .title-alignCenter {
  display: flex;
  justify-content: center;
}

.ml-slider .slick-slide {
  padding: 0 25px;
}

.ml-slider .slick-dotted.slick-slider {
  margin-top: 35px;
  margin-bottom: 45px;
}

.ml-slider__item {
  padding: 15px 20px;
  border: 1px solid var(--border-color);
  margin-bottom: 5px;
}

.ml-slider__item:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.ml-slider__item .bridge {
  margin: 20px 0 25px 0;
  border: 1px solid var(--border-color);
}

.ml-slider__marker {
  display: inline-block;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding: 3px 22px;
  background-color: var(--marker-color);
}

.ml-slider__img {
  max-width: 165px;
  margin: 10px auto 25px auto;
}

.ml-slider__title {
  text-decoration: none;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: var(--font-color);
}

.ml-slider__info {
  display: flex;
  justify-content: space-between;
}

.ml-slider__price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.ml-slider__status {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: var(--status-color);
}

.ml-slider__status.availability {
  position: relative;
}

.ml-slider__status.availability::before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: -22px;
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-image: url("/img/availability.png");
}

.ml-slider__form:hover .ml-slider__button-hidden {
  width: 100%;
  position: static;
  transform: translateX(0);
}

.ml-slider__button {
  width: 100%;
  margin: 7.5px 0;
  padding: 15px 0;
  position: relative;
}

.ml-slider__button-hidden {
  position: absolute;
  top: -100%;
  width: calc(100% - 40px);
  margin: 7.5px 0;
  padding: 15px 0;
}

.ml-slider .slick-dots {
  bottom: -35px;
}

.ml-slider .slick-dots .slick-active {
  background-color: var(--main-color);
}

.ml-slider .slick-dots li {
  height: 2px;
  width: 50px;
  margin: 0 10px;
  background-color: var(--slick-dots);
}

.ml-slider .slick-dots li::before {
  content: "";
}

.ml-slider .slick-dots li button:before {
  content: "";
}

/*============= ABOUT ============= */
.about {
  overflow: hidden;
  margin-bottom: 50px;
  padding: 0 30px;
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 30px;
  }
}

.about .title-alignCenter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .about__launch {
    padding-right: 30px;
  }
}

.about__inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 992px) {
  .about__inner {
    grid-template-columns: 1fr;
  }
}

.about__title {
  font-family: Geometria;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  color: var(--font-color);
  margin-bottom: 30px;
}

.about__suptitle {
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 157.2%;
  color: var(--menu-font-color);
  margin-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .about__suptitle {
    margin-bottom: 45px;
  }
}

.about__launch-bc {
  position: relative;
}

@media screen and (max-width: 992px) {
  .about__launch-bc {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 768px) {
  .about__launch-bc {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 992px) {
  .about__launch-bc img {
    margin: 0 auto;
  }
}

.about__launch-bc .figure-bc {
  position: absolute;
  z-index: -1;
  max-width: 975px;
  left: -320px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 1200px) {
  .about__launch-bc .figure-bc {
    max-width: 800px;
  }
}

@media screen and (max-width: 992px) {
  .about__launch-bc .figure-bc {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.about__points {
  position: relative;
}

@media screen and (max-width: 992px) {
  .about__points {
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .about__points {
    padding-left: 30px;
  }
}

.about__points .circle-bc {
  top: -80px;
  right: -80px;
  position: absolute;
}

@media screen and (max-width: 992px) {
  .about__points .circle-bc {
    display: none;
  }
}

.about__points__item {
  position: relative;
  padding: 25px 35px;
  margin-bottom: 40px;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

.about__points__index {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transform: translateY(-50%);
  background: linear-gradient(180deg, #4A77B9 0%, #77A4E7 100%);
  box-shadow: 0px 0px 35px rgba(112, 157, 223, 0.98);
}

.about__points__index .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}

.about__points__text {
  font-family: Geometria;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 137.2%;
  color: var(--font-color);
}

.comp1__left {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-right: 1px solid var(--gray-color);
}

@media screen and (max-width: 992px) {
  .comp1__left {
    padding: 20px;
  }
}

@media screen and (max-width: 768px) {
  .comp1__left {
    border-right: none;
    border-bottom: 1px solid var(--gray-color);
    order: 1;
  }
}

.comp1__img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

.comp1__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comp1__title {
  text-align: center;
  margin-top: 30px;
}

.comp1__title strong {
  display: block;
}

.comp1__btn {
  margin-top: 15px;
}

.comp1__right {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}

.comp1__right-top {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--gray-color);
  flex-grow: 1;
}

@media screen and (max-width: 992px) {
  .comp1__right-top {
    padding: 20px;
    flex-basis: auto;
  }
}

.comp1__right-top > .comp1__title {
  margin-top: 0;
}

.comp1__right-bottom {
  margin: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 992px) {
  .comp1__right-bottom {
    margin: 20px;
  }
}

.comp1__right-bottom > .comp1__img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

.comp1__right-bottom > .comp1__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comp1__right-bottom > .comp1__title {
  margin-top: 30px;
}

.comp2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: 1px solid var(--gray-color);
}

@media screen and (max-width: 992px) {
  .comp2 {
    grid-template-columns: 1fr;
  }
}

.comp2__item {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-right: 1px solid var(--gray-color);
  border-top: 1px solid var(--gray-color);
}

@media screen and (max-width: 992px) {
  .comp2__item {
    border-right: none;
    border-bottom: 1px solid var(--gray-color);
  }
}

.comp2__item:nth-child(3n+1) {
  border-right: none;
}

@media screen and (max-width: 992px) {
  .comp2__item:nth-child(3n+1) {
    border-bottom: none;
  }
}

.comp2__item:first-child {
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  border-top: 1px solid var(--gray-color);
}

@media screen and (max-width: 992px) {
  .comp2__item:first-child {
    grid-column: 1;
  }
}

@media screen and (max-width: 768px) {
  .comp2__item:first-child {
    grid-template-columns: 1fr;
  }
}

.comp2__img {
  height: auto;
  max-height: 100%;
  width: 100%;
  margin-bottom: 30px;
  height: 275px;
}

.comp2__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 275px;
}

.comp2__title {
  text-align: center;
  margin-top: 30px;
  margin-top: auto;
}

.comp2__btn {
  margin-top: 15px;
}

.comp3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid var(--gray-color);
  border-bottom: 1px solid var(--gray-color);
}

@media screen and (max-width: 768px) {
  .comp3 {
    grid-template-columns: 1fr;
  }
}

.comp3__item {
  padding: 30px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-right: 1px solid var(--gray-color);
}

@media screen and (max-width: 768px) {
  .comp3__item {
    border-right: none;
    border-bottom: 1px solid var(--gray-color);
  }
}

.comp3__item:last-child {
  border-right: none;
  border-bottom: none;
}

.comp3__img {
  height: auto;
  width: 100%;
  margin-bottom: 30px;
  max-height: 100%;
}

.comp3__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.comp3__title {
  text-align: center;
  margin-top: 30px;
  margin-top: auto;
}

.comp3__btn {
  margin-top: 15px;
}

.kikabook__title {
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  margin-top: 30px;
}

.kikabook__subtitle {
  text-align: center;
  font-size: 24px;
}

.kikabook__video {
  max-width: 1060px;
  height: 465px;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .kikabook__video {
    height: 300px;
  }
}

.photo {
  margin-top: 30px;
}

.photo__title {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  margin-top: 30px;
}

.photo__collections {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

@media screen and (max-width: 992px) {
  .photo__collections {
    flex-flow: column wrap;
  }
}

.photo__item {
  margin: 0.5%;
  height: 450px;
  flex-basis: 42%;
}

@media screen and (max-width: 1200px) {
  .photo__item {
    height: 380px;
  }
}

@media screen and (max-width: 992px) {
  .photo__item {
    height: unset;
    width: 100%;
    flex-basis: auto;
  }
}

.photo__item:first-child {
  flex-basis: 56%;
}

@media screen and (max-width: 992px) {
  .photo__item:first-child {
    flex-basis: auto;
  }
}

.photo__item:last-child {
  flex-basis: 56%;
}

@media screen and (max-width: 992px) {
  .photo__item:last-child {
    flex-basis: auto;
  }
}

.photo__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .photo__item img {
    height: auto;
  }
}

.insta__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .insta__inner {
    grid-template-columns: 1fr;
  }
}

.insta__item {
  width: 100%;
  margin: auto;
}

.insta__item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 1000px;
}

.insta__collections {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
}

.insta__title {
  font-size: 48px;
}

.insta__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.insta__instafeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 32%;
  align-items: center;
  align-content: center;
}

.instafeed__item {
  width: 100%;
  height: 100%;
}

.instafeed__item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ph-slider__title {
  margin-top: 30px;
  font-size: 3em;
  text-align: center;
  margin-bottom: 5px;
}

.ph-slider__items {
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  .ph-slider__items {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.ph-slider__items > .slick-arrow.slick-prev {
  top: -40px;
  left: 29%;
  border: 1px solid #f6f5f3;
}

@media screen and (max-width: 1300px) {
  .ph-slider__items > .slick-arrow.slick-prev {
    top: -44px;
  }
}

@media screen and (max-width: 1200px) {
  .ph-slider__items > .slick-arrow.slick-prev {
    left: 25%;
  }
}

@media screen and (max-width: 992px) {
  .ph-slider__items > .slick-arrow.slick-prev {
    left: 20%;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .ph-slider__items > .slick-arrow.slick-prev {
    left: calc(50% - 20px);
    top: 0px;
    transform: rotate(90deg);
  }
}

.ph-slider__items > .slick-arrow.slick-next {
  top: -45px;
  right: 29%;
  border: 1px solid #f6f5f3;
}

@media screen and (max-width: 1200px) {
  .ph-slider__items > .slick-arrow.slick-next {
    right: 25%;
  }
}

@media screen and (max-width: 992px) {
  .ph-slider__items > .slick-arrow.slick-next {
    right: 20%;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .ph-slider__items > .slick-arrow.slick-next {
    right: calc(50% - 20px);
    transform: rotate(90deg);
    top: auto;
    bottom: 0px;
  }
}

.ph-slider__items > .slick-list > .slick-track > .slick-slide div > .ph-slider__item {
  display: grid !important;
}

.ph-slider__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.ph-slider__item a {
  width: 100%;
  height: auto;
  position: relative;
}

.ph-slider__item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 900px;
}

.ph-slider__item a span {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 20px);
  font-size: 3em;
}

.kikavideo {
  margin-top: 30px;
}

.kikavideo__before-title {
  text-align: center;
  font-size: 1.5em;
}

.kikavideo__title {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
}

.kikavideo__subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.kikavideo__video {
  max-width: 1060px;
  height: 465px;
  margin: 20px auto;
}

@media screen and (max-width: 768px) {
  .kikavideo__video {
    height: 300px;
  }
}

.video {
  margin-top: 30px;
}

.video__title {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  margin-top: 30px;
}

.video__collections {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

@media screen and (max-width: 992px) {
  .video__collections {
    flex-flow: column wrap;
  }
}

.video__item {
  margin: 0.5%;
  height: 450px;
  flex-basis: 56%;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .video__item {
    height: 380px;
  }
}

@media screen and (max-width: 992px) {
  .video__item {
    height: unset;
    width: 100%;
    flex-basis: auto;
  }
}

.video__item:first-child {
  flex-basis: 42%;
}

@media screen and (max-width: 992px) {
  .video__item:first-child {
    flex-basis: auto;
  }
}

.video__item:last-child {
  flex-basis: 42%;
}

@media screen and (max-width: 992px) {
  .video__item:last-child {
    flex-basis: auto;
  }
}

.video__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .video__item img {
    height: auto;
  }
}

.playpause {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.playpause span {
  font-size: 3em;
  color: #ffffff;
  max-width: 340px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
}

.vd-slider__title {
  margin-top: 30px;
  font-size: 3em;
  text-align: center;
  margin-bottom: 5px;
}

.vd-slider__items {
  min-width: 150px;
}

@media screen and (max-width: 768px) {
  .vd-slider__items {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.vd-slider__items > .slick-arrow.slick-prev {
  top: -40px;
  left: 29%;
  border: 1px solid #f6f5f3;
}

@media screen and (max-width: 1300px) {
  .vd-slider__items > .slick-arrow.slick-prev {
    top: -44px;
  }
}

@media screen and (max-width: 1200px) {
  .vd-slider__items > .slick-arrow.slick-prev {
    left: 25%;
  }
}

@media screen and (max-width: 992px) {
  .vd-slider__items > .slick-arrow.slick-prev {
    left: 20%;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .vd-slider__items > .slick-arrow.slick-prev {
    left: calc(50% - 20px);
    top: 0px;
    transform: rotate(90deg);
  }
}

.vd-slider__items > .slick-arrow.slick-next {
  top: -45px;
  right: 29%;
  border: 1px solid #f6f5f3;
}

@media screen and (max-width: 1200px) {
  .vd-slider__items > .slick-arrow.slick-next {
    right: 25%;
  }
}

@media screen and (max-width: 992px) {
  .vd-slider__items > .slick-arrow.slick-next {
    right: 20%;
    top: -40px;
  }
}

@media screen and (max-width: 768px) {
  .vd-slider__items > .slick-arrow.slick-next {
    right: calc(50% - 20px);
    transform: rotate(90deg);
    top: auto;
    bottom: 0px;
  }
}

.vd-slider__items > .slick-list > .slick-track > .slick-slide div > .vd-slider__item {
  display: grid !important;
}

.vd-slider__item {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding-right: 20px;
}

.vd-slider__item a {
  width: 100%;
  height: auto;
  position: relative;
}

.vd-slider__item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 900px;
}

.vd-slider__item a span {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 20px);
  font-size: 3em;
}

.price__inner {
  display: grid;
  grid-template-columns: minmax(345px, 390px) 1fr 1fr;
  grid-auto-rows: 650px;
  border-bottom: 1px solid #f6f5f3;
  border-top: 1px solid #f6f5f3;
}

@media screen and (max-width: 1200px) {
  .price__inner {
    grid-template-columns: minmax(325px, 390px) 1fr;
  }
}

@media screen and (max-width: 992px) {
  .price__inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .price__inner {
    grid-template-columns: 1fr;
    margin-top: 30px;
    grid-auto-rows: auto;
  }
}

.price__service {
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 390px;
  min-width: 300px;
  display: block;
  overflow: scroll;
}

@media screen and (max-width: 1200px) {
  .price__service {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .price__service {
    margin-left: unset;
    min-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .price__service-list {
    width: 100%;
  }
}

.price__service-list li {
  padding: 1px;
}

@media screen and (max-width: 768px) {
  .price__service-list li {
    padding: 3px;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .price__service-list li::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 12px;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    transform: rotate(135deg);
  }
}

.price__service-list li a {
  font-size: 14px;
  color: var(--copy-color);
  text-decoration: none;
  display: block;
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  .price__service-list li a {
    font-size: 14px;
    color: var(--copy-color);
    padding: 4px 10px;
    background-color: #f6f5f3;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.price__service-list li a:hover {
  background-color: var(--gray-color);
}

.price__slider {
  position: relative;
  width: 100%;
  min-width: 325px;
  background-color: #fafaf9;
}

@media screen and (max-width: 500px) {
  .price__slider {
    display: none;
  }
}

.price__slider-items {
  position: relative;
}

.price__slider-items > .slick-next.slick-arrow {
  transform: rotate(90deg);
  top: calc(100% - 36px);
  right: calc(50% - 20px);
}

@media screen and (max-width: 768px) {
  .price__slider-items > .slick-next.slick-arrow {
    top: calc(100% - 40px);
  }
}

.price__slider-items > .slick-prev.slick-arrow {
  transform: rotate(90deg);
  top: 0px;
  left: calc(50% - 20px);
}

.price__slider-items .slick-current > div .price__slider-item {
  background-color: var(--btn-hover-bgcolor);
}

.price__slider-item {
  cursor: pointer;
  display: flex !important;
  align-items: center;
  min-width: 350px;
  border-bottom: 1px solid var(--btn-hover-bgcolor);
  padding: 15px 20px;
}

.price__slider-img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  position: relative;
}

.price__slider-img::before {
  width: 90px;
  height: 90px;
  content: '';
  position: absolute;
  border: 1px solid #ffffff;
  top: 5px;
  left: 5px;
}

.price__slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__slider-right {
  margin-left: 20px;
}

.price__slider-title {
  font-size: 16px;
  text-transform: uppercase;
}

.price__slider-desc {
  font-size: 14px;
}

.price__vacancy {
  min-width: 350px;
}

@media screen and (max-width: 1200px) {
  .price__vacancy {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 768px) {
  .price__vacancy {
    grid-column: auto;
  }
}

.price__vacancy-items {
  min-width: 350px;
  position: relative;
  height: 100%;
}

.price__vacancy-items > .slick-list {
  height: 100%;
}

.price__vacancy-items > .slick-list > .slick-track {
  height: 100%;
}

.price__vacancy-items > .slick-list > .slick-track > .slick-slide {
  height: 100%;
}

.price__vacancy-items > .slick-list > .slick-track > .slick-slide > div {
  height: 100%;
}

.price__vacancy-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
  min-width: 350px;
  width: 100%;
  height: 100%;
}

.price__vacancy-txt {
  padding: 15px;
  min-width: 300px;
  max-width: 90%;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}

.price__vacancy-txt h4 {
  font-size: 24px;
  font-weight: bold;
}

.price__vacancy-txt .arrow-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  transition: 0.3s transform;
  color: var(--copy-color);
}

.price__vacancy-txt .arrow-left::before {
  content: "";
  width: 55px;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
}

.price__vacancy-txt .arrow-left::after {
  content: "";
  border-style: solid;
  margin-left: -16px;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 7px;
  transform: rotate(-45deg);
}

.price-mob__slider {
  margin-bottom: 25px;
  position: relative;
  width: 100%;
  min-width: 325px;
  background-color: #fafaf9;
  padding-top: 50px;
  padding-bottom: 50px;
  display: none;
}

@media screen and (max-width: 500px) {
  .price-mob__slider {
    display: block;
  }
}

.price-mob__slider-items {
  position: relative;
}

.price-mob__slider-item a {
  cursor: pointer;
  display: flex !important;
  align-items: center;
  min-width: 350px;
  border-bottom: 1px solid var(--btn-hover-bgcolor);
  padding: 15px 20px;
  text-decoration: none;
}

.price-mob__slider-item a:hover {
  background-color: var(--btn-hover-bgcolor);
}

.price-mob__slider-img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  position: relative;
}

.price-mob__slider-img::before {
  width: 90px;
  height: 90px;
  content: '';
  position: absolute;
  border: 1px solid #ffffff;
  top: 5px;
  left: 5px;
}

.price-mob__slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-mob__slider-right {
  margin-left: 20px;
}

.price-mob__slider-title {
  font-size: 16px;
  text-transform: uppercase;
}

.price-mob__slider-desc {
  font-size: 14px;
}

.price-mob__btn {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .price-desc {
    height: auto;
  }
}

.price-page .btn, .price-page .btn-outline, .price-page .ml-slider__form:hover .ml-slider__button, .ml-slider__form:hover .price-page .ml-slider__button {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .price-page .btn, .price-page .btn-outline, .price-page .ml-slider__form:hover .ml-slider__button, .ml-slider__form:hover .price-page .ml-slider__button {
    display: none;
  }
}

.price-in__inner {
  display: grid;
  grid-template-columns: minmax(345px, 390px) minmax(345px, 450px) 1fr;
  grid-auto-rows: 650px;
  margin-top: 10px;
  border-bottom: 1px solid #f6f5f3;
  border-top: 1px solid #f6f5f3;
}

@media screen and (max-width: 1400px) {
  .price-in__inner {
    grid-template-columns: minmax(280px, 390px) 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .price-in__inner {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .price-in__inner {
    grid-template-columns: 1fr;
    margin-top: 30px;
    grid-auto-rows: auto;
    border-top: none;
  }
}

.price-in__inner.service-end {
  grid-template-columns: minmax(345px, 390px) 1fr 1fr;
}

@media screen and (max-width: 1400px) {
  .price-in__inner.service-end {
    grid-template-columns: minmax(280px, 390px) 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .price-in__inner.service-end {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 992px) {
  .price-in__inner.service-end {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .price-in__inner.service-end {
    grid-template-columns: 1fr;
  }
}

.price-in__service {
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 280px;
  display: block;
  overflow: scroll;
}

@media screen and (max-width: 1200px) {
  .price-in__service {
    margin-left: 0px;
    max-width: unset;
  }
}

@media screen and (max-width: 992px) {
  .price-in__service {
    min-width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .price-in__service {
    margin-left: unset;
    min-width: 100%;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .price-in__service-list {
    width: 100%;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .price-in__service-list.active {
    display: block;
    width: calc(100% - 30px);
    position: absolute;
    z-index: 23;
    background: #ffffff;
  }
}

.price-in__service-list li {
  padding: 1px;
}

@media screen and (max-width: 768px) {
  .price-in__service-list li {
    padding: 3px;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .price-in__service-list li::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 12px;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    transform: rotate(135deg);
  }
}

.price-in__service-list li a {
  font-size: 14px;
  color: var(--copy-color);
  text-decoration: none;
  display: block;
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  .price-in__service-list li a {
    font-size: 14px;
    color: var(--copy-color);
    padding: 4px 10px;
    background-color: #f6f5f3;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.price-in__service-list li a:hover {
  background-color: var(--gray-color);
}

.price-in__details {
  padding: 15px;
  max-width: 450px;
  min-width: 300px;
  display: block;
  overflow: scroll;
  background-color: #fafaf9;
}

@media screen and (max-width: 1400px) {
  .price-in__details {
    max-width: unset;
  }
}

@media screen and (max-width: 1200px) {
  .price-in__details {
    margin-left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .price-in__details {
    min-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .price-in__details {
    margin-left: unset;
    min-width: 100%;
    padding: 0;
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .price-in__details-list {
    width: 100%;
  }
}

.price-in__details-list li {
  padding: 1px;
}

@media screen and (max-width: 768px) {
  .price-in__details-list li {
    padding: 3px;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .price-in__details-list li::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 12px;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    transform: rotate(135deg);
  }
}

.price-in__details-list li a {
  font-size: 14px;
  color: var(--copy-color);
  text-decoration: none;
  display: block;
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  .price-in__details-list li a {
    font-size: 14px;
    color: var(--copy-color);
    padding: 4px 10px;
    background-color: #f6f5f3;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.price-in__details-list li a:hover {
  background-color: var(--gray-color);
}

.price-in__more {
  background-color: var(--gray-color);
}

@media screen and (max-width: 992px) {
  .price-in__more {
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  .price-in__more {
    display: none;
  }
}

.price-in__more h1 {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

@media screen and (max-width: 992px) {
  .price-in__more h1 {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.price-in-text {
  display: flex;
}

@media screen and (max-width: 992px) {
  .price-in-text {
    flex-flow: column;
  }
}

.price-in-text__block {
  flex-basis: 50%;
  padding-left: 20px;
  padding-bottom: 10px;
}

.price-in-text__block h2 {
  padding-top: 20px;
  font-size: 16px;
}

.price-in-text__block:first-child {
  padding-right: 20px;
  border-right: 2px solid #e8e7e5;
  text-align: right;
}

@media screen and (max-width: 992px) {
  .price-in-text__block:first-child {
    border-right: none;
    text-align: initial;
  }
}

.price-in-text__service h3 {
  font-size: 14px;
  font-weight: normal;
  padding-top: 10px;
}

.price-in-text__service ul li {
  font-size: 12px;
}

.price-in__lite-service {
  display: none;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #f6f5f3;
  border-top: 1px solid #f6f5f3;
  text-align: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .price-in__lite-service {
    display: grid;
  }
}

.price-in__current {
  padding: 5px;
  border-right: 1px solid #f6f5f3;
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
}

.price-in__ddown {
  padding: 5px;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
}

.price-in__ddown span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
  transform: rotate(135deg);
  top: 10px;
  right: 25px;
}

.price-in__inner-info {
  padding: 15px;
  display: block;
  overflow: scroll;
}

@media screen and (max-width: 1400px) {
  .price-in__inner-info {
    max-width: unset;
  }
}

@media screen and (max-width: 1200px) {
  .price-in__inner-info {
    margin-left: 0px;
  }
}

@media screen and (max-width: 992px) {
  .price-in__inner-info {
    min-width: 250px;
  }
}

@media screen and (max-width: 768px) {
  .price-in__inner-info {
    margin-left: unset;
    min-width: 100%;
    padding: 0;
    background-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .price-in__inner-details {
    width: 100%;
  }
}

.price-in__inner-details li {
  padding: 1px;
}

@media screen and (max-width: 768px) {
  .price-in__inner-details li {
    padding: 3px;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .price-in__inner-details li::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 14px;
    right: 12px;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    transform: rotate(135deg);
  }
}

.price-in__inner-details li h3 {
  font-size: 14px;
  text-decoration: none;
  padding: 5px;
}

.price-in__inner-details li a {
  font-size: 14px;
  color: var(--copy-color);
  text-decoration: none;
  display: block;
  padding: 0 5px;
}

@media screen and (max-width: 768px) {
  .price-in__inner-details li a {
    font-size: 14px;
    color: var(--copy-color);
    padding: 4px 10px;
    background-color: #f6f5f3;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.price-in__inner-details li a:hover {
  background-color: var(--gray-color);
}

.price-in__inner-details-info {
  font-size: 14px;
  color: var(--copy-color);
  border-bottom: 2px solid #f6f5f3;
  padding: 10px 5px;
}

.price-in__inner-details-info h4 {
  font-weight: 400;
}

.price-in__inner-details-info ul {
  max-width: 300px;
  font-size: 12px;
}

.price-in__inner-details-info ul li::after {
  content: none;
}

.price-in__slider {
  position: relative;
  width: 100%;
  min-width: 325px;
  background-color: #fafaf9;
}

@media screen and (max-width: 992px) {
  .price-in__slider {
    display: none;
  }
}

.price-in__slider-items {
  position: relative;
}

.price-in__slider-items > .slick-next.slick-arrow {
  transform: rotate(90deg);
  top: calc(100% - 36px);
  right: calc(50% - 20px);
}

@media screen and (max-width: 768px) {
  .price-in__slider-items > .slick-next.slick-arrow {
    top: calc(100% - 40px);
  }
}

.price-in__slider-items > .slick-prev.slick-arrow {
  transform: rotate(90deg);
  top: 0px;
  left: calc(50% - 20px);
}

.price-in__slider-items .slick-current > div .price__slider-item {
  background-color: var(--btn-hover-bgcolor);
}

.price-in__slider-item {
  cursor: pointer;
  display: flex !important;
  align-items: center;
  min-width: 350px;
  border-bottom: 1px solid var(--btn-hover-bgcolor);
  padding: 15px 20px;
}

.price-in__slider-img {
  width: 100px;
  height: 100px;
  min-width: 100px;
  position: relative;
}

.price-in__slider-img::before {
  width: 90px;
  height: 90px;
  content: '';
  position: absolute;
  border: 1px solid #ffffff;
  top: 5px;
  left: 5px;
}

.price-in__slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-in__slider-right {
  margin-left: 20px;
}

.price-in__slider-title {
  font-size: 16px;
  text-transform: uppercase;
}

.price-in__slider-desc {
  font-size: 14px;
}

.service {
  display: none;
}

@media screen and (max-width: 768px) {
  .service {
    display: block;
  }
}

.service__tags {
  margin-top: 30px;
}

.service__tags h2 {
  text-align: center;
  text-transform: uppercase;
}

.service__tags-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

.service__tags-items a {
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border: 1px solid #f6f5f3;
}

/*==============================================================
						FOOTER STYLE START */
/*============================================================= */
.footer__social__item, .footer-mob .footer-mob__social__title, .footer-mob .footer-mob__social__item {
  padding: 0 10px;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__social__item img, .footer-mob .footer-mob__social__title img, .footer-mob .footer-mob__social__item img {
  height: 18px;
}

.footer {
  background-color: var(--footer-bg-color);
}

.footer__inner {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 992px) {
  .footer__inner {
    display: none;
  }
}

.footer__social {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
}

.footer__nav .nav {
  padding: 0 20px;
}

.footer__nav .nav__title {
  text-transform: uppercase;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__nav .nav__link {
  text-decoration: none;
  font-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #E0E0E0;
}

.footer__schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__schedule .info__title {
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer__schedule .info__text {
  text-align: left;
  ont-family: Geometria;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 165.3%;
  color: #E0E0E0;
}

.footer hr {
  margin: 30px 0px 15px 0px;
  border: 1px solid #D5D5D5;
}

@media screen and (max-width: 768px) {
  .footer hr {
    margin: 0;
  }
}

.footer__copyright {
  padding: 7px 0;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #E0E0E0;
}

.footer-mob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-mob {
    display: none;
  }
}

.footer-mob__logo {
  margin: 20px 0;
}

.footer-mob__nav {
  width: 100%;
}

.footer-mob__items {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 12px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-family: Geometria;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.footer-mob__items::after {
  content: '';
  right: 15px;
  top: 50%;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translateY(-50%) rotate(-45deg);
}

.footer-mob__items:first-child {
  border-top: 1px solid #fff;
}

.footer-mob__items ul {
  display: none;
}

.footer-mob .footer__schedule {
  margin: 25px 0 30px 0;
}

.footer-mob .footer__schedule .info__title {
  text-align: center;
}

.footer-mob .footer__schedule .info__text {
  text-align: center;
}

.footer-mob .footer-mob__social {
  margin: 20px 0;
}

.footer-mob .footer-mob__social__items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-mob .footer-mob__social__title {
  margin-bottom: 20px;
}

/*==============================================================
						ANIMATION`S START */
/*============================================================= */
@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateY(-5deg);
  }
  100% {
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  100% {
    transform: perspective(400px);
  }
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1130px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
