/*============= BUTTONS STYLE ============= */
.btn
	text-transform: uppercase
	font-family: Roboto
	font-style: normal
	font-weight: bold
	font-size: 20px
	line-height: 23px
	color: #FFFFFF
	background-color: var(--main-color)
	border-radius: 5px
	transition: 0.5s
.btn-outline
	@extend .btn
	color: var(--main-color)
	border: 1px solid var(--main-color)
	background-color: #fff
.button-section
	margin: 0 auto
	display: block
	padding: 15px 60px
	border-radius: 5px
/*============= TITLE SECTION STYLE ============= */
.title-section
	position: relative
	text-align: center
	text-transform: uppercase
	color: #000
	font-family: Geometria
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 50px
	display: inline-block
	&::after
		position: absolute
		bottom: 0px
		left: 50%
		content: ''
		display: block
		width: 60%
		border: 2px solid var(--third-color)
		transform: translateX(-50%)
/*============= INDEX PAGE ============= */
.nav
	&__inner
		display: flex
		flex-wrap: wrap
.directory
	height: 100%
	width: 235px
	border: 1px solid var(--border-color)
	box-sizing: border-box
	padding: 5px 15px 15px 15px
	li
		padding-bottom: 3px
		a
			text-decoration: none
			font-family: Geometria
			font-style: normal
			font-weight: 500
			font-size: 14px
			line-height: 18px
			color: var(--menu-font-color)
/*============= MAIN SLIDER ============= */
.mn-slider
	margin-bottom: 50px
	width: calc(100% - 235px)
	&__item
		position: relative
	&__info
		position: absolute
		left: 15%
		top: 50%
		transform: translate(-15%, -50%)
		h2
			color: #FFFFFF
			font-family: Geometria
			font-style: normal
			font-weight: bold
			font-size: 50px
			line-height: 63px
			text-transform: uppercase
			margin-bottom: 25px
		a
			color: #FFFFFF
			font-family: Geometria
			font-style: normal
			font-size: 24px
			line-height: 30px
			font-weight: 500
			text-transform: uppercase
			text-decoration: none
			padding: 10px 50px
			border: 2px solid #fff
	.slick-list
		margin: 15px 15px 35px 15px
	.slick-prev.slick-arrow
		width: 24px
		height: 32px
		z-index: 900
		left: 40px
		background: rgba(255, 255, 255, 0.45)
		&::before
			content: ""
			left: 50%
			display: block
			width: 12px
			height: 12px
			border-left: 3px solid #fff
			border-bottom: 3px solid #fff
			margin-left: 2px
			transform: translateX(50%) rotate(45deg)
	.slick-next.slick-arrow
		width: 24px
		height: 32px
		z-index: 900
		right: 40px
		background: rgba(255, 255, 255, 0.45)
		&::before
			content: ""
			right: 50%
			display: block
			width: 12px
			height: 12px
			border-left: 3px solid #fff
			border-bottom: 3px solid #fff
			margin-left: -2px
			transform: translateX(50%) rotate(225deg)
	.slick-dots
		bottom: -35px
		.slick-active
			background-color: var(--main-color)
		li
			height: 2px
			width: 50px
			margin: 0 10px
			background-color: var(--slick-dots)
			&::before
				content: ""
		li button:before
			content: ""
/*============= SECTION BRANDS ============= */
.brands
	margin-bottom: 50px
	padding: 50px 100px
	background-color: var(--bg-color)
	.title-alignCenter
		display: flex
		justify-content: center
	&__inner
		display: flex
		justify-content: space-between
		margin-top: 45px
		overflow: hidden
	&__items
		display: flex
		flex-direction: column
		padding: 0 20px
	&__item
		display: flex
		position: relative
		margin-left: 70px
		padding: 10px 0
	&__img
		max-width: 60px
		position: absolute
		top: 50%
		left: -35px
		transform: translate(-50%, -50%)
	&__title
		position: relative
		text-decoration: none
		font-family: Roboto
		font-style: normal
		font-weight: 300
		font-size: 18px
		line-height: 21px
		color: var(--font-color)
		&:hover
			&::after
				opacity: 1
		&::after
			opacity: 0
			content: ''
			display: block
			position: absolute
			bottom: -4px
			left: 0
			width: 100%
			height: 2px
			background-color: var(--third-color)
			transition: opacity .2s ease-in-out
/*============= MARKET LEADERS SLIDER ============= */
.ml-slider
	margin-bottom: 50px
	.title-alignCenter
		display: flex
		justify-content: center
	.slick-slide
		padding: 0 25px
	.slick-dotted.slick-slider
		margin-top: 35px
		margin-bottom: 45px
	&__item
		padding: 15px 20px
		border: 1px solid var(--border-color)
		margin-bottom: 5px
		&:hover
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5)
		.bridge
			margin: 20px 0 25px 0
			border: 1px solid var(--border-color)
	&__marker
		display: inline-block
		text-transform: uppercase
		font-family: Roboto
		font-style: normal
		font-weight: 500
		font-size: 18px
		line-height: 21px
		color: #fff
		padding: 3px 22px
		background-color: var(--marker-color)
	&__img
		max-width: 165px
		margin: 10px auto 25px auto
	&__title
		text-decoration: none
		font-family: Geometria
		font-style: normal
		font-weight: normal
		font-size: 18px
		line-height: 23px
		color: var(--font-color)
	&__info
		display: flex
		justify-content: space-between
	&__price
		font-family: Roboto
		font-style: normal
		font-weight: 800
		font-size: 24px
		line-height: 28px
		color: #000000
	&__status
		font-family: Roboto
		font-style: normal
		font-weight: 300
		font-size: 16px
		color: var(--status-color)
	&__status.availability
		position: relative
		&::before
			content: ""
			display: block
			position: absolute
			top: 6px
			left: -22px
			width: 16px
			height: 12px
			background-repeat: no-repeat
			background-image: url('/img/availability.png')
	&__form
		&:hover
			.ml-slider__button
				@extend .btn
			.ml-slider__button-hidden
				width: 100%
				position: static
				transform: translateX(0)
	&__button
		width: 100%
		margin: 7.5px 0
		padding: 15px 0
		position: relative
	&__button-hidden
		position: absolute
		top: -100%
		width: calc(100% - 40px)
		margin: 7.5px 0
		padding: 15px 0
	.slick-dots
		bottom: -35px
		.slick-active
			background-color: var(--main-color)
		li
			height: 2px
			width: 50px
			margin: 0 10px
			background-color: var(--slick-dots)
			&::before
				content: ""
		li button:before
			content: ""
/*============= ABOUT ============= */
.about
	margin-bottom: 50px
	.title-alignCenter
		display: flex
		justify-content: center
		margin-bottom: 30px
	&__inner
		position: relative
		display: grid
		grid-template-columns: 1fr 1fr
	&__title
		font-family: Geometria
		font-style: normal
		font-weight: bold
		font-size: 30px
		line-height: 38px
		color: var(--font-color)
		margin-bottom: 30px
	&__suptitle
		font-family: Geometria
		font-style: normal
		font-weight: normal
		font-size: 20px
		line-height: 157.2%
		color: var(--menu-font-color)
		margin-bottom: 90px
	&__launch-bc
		position: relative
		.figure-bc
			position: absolute
			z-index: -1
			max-width: 975px
			left: -320px
			top: 50%
			transform: translateY(-50%)
	&__points
		position: relative
		.circle-bc
			top: -80px
			right: -80px
			position: absolute
		&__item
			position: relative
			padding: 25px 35px
			margin-bottom: 40px
			max-width: 600px
			background-color: #fff
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5)
		&__index
			display: flex
			align-items: center
			justify-content: center
			position: absolute
			top: 50%
			left: -20px
			width: 40px
			height: 40px
			border-radius: 100%
			transform: translateY(-50%)
			background: linear-gradient(180deg, #4A77B9 0%, #77A4E7 100%)
			box-shadow: 0px 0px 35px rgba(112, 157, 223, 0.98)
			.text
				font-family: Roboto
				font-style: normal
				font-weight: 500
				font-size: 20px
				line-height: 23px
				text-align: center
				color: #FFFFFF
		&__text
			font-family: Geometria
			font-style: normal
			font-weight: 300
			font-size: 20px
			line-height: 137.2%
			color: var(--font-color)
