/*============= BUTTONS STYLE ============= */
.btn
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	width: 200px
	height: 40px
	color: #fff
	line-height: 1.2
	font-weight: bold
	font-family: var(--main-font), sans-serif
	font-size: 14px
	transition: 0.5s
/*============= TITLE SECTION STYLE ============= */
.title-section
	position: relative
	text-align: center
	text-transform: uppercase
	color: #000
	font-family: Geometria
	font-style: normal
	font-weight: 500
	font-size: 24px
	line-height: 30px
	margin-bottom: 12px
	&::after
		position: absolute
		bottom: -12px
		left: 50%
		content: ''
		display: block
		width: 224px
		border: 2px solid var(--third-color)
		transform: translateX(-50%)
/*============= INDEX PAGE ============= */
.nav
	&__inner
		display: flex
.directory
	height: 100%
	width: 235px
	border: 1px solid var(--border-color)
	box-sizing: border-box
	padding: 5px 15px 15px 15px
	li
		padding-bottom: 3px
		a
			text-decoration: none
			font-family: Geometria
			font-style: normal
			font-weight: 500
			font-size: 14px
			line-height: 18px
			color: var(--menu-font-color)
.mn-slider
	width: calc(100% - 235px)
	&__item
		position: relative
	&__img
		min-height: 340px
	&__info
		position: absolute
		left: 15%
		top: 50%
		transform: translate(-15%, -50%)
		h2
			color: #FFFFFF
			font-family: Geometria
			font-style: normal
			font-weight: bold
			font-size: 50px
			line-height: 63px
			text-transform: uppercase
			margin-bottom: 25px
		a
			color: #FFFFFF
			font-family: Geometria
			font-style: normal
			font-size: 24px
			line-height: 30px
			font-weight: 500
			text-transform: uppercase
			text-decoration: none
			padding: 10px 50px
			border: 2px solid #fff
	.slick-list
		margin: 15px 15px 35px 15px
	.slick-prev.slick-arrow
		width: 24px
		height: 32px
		z-index: 900
		left: 40px
		background: rgba(255, 255, 255, 0.45)
		&::before
			content: ""
			left: 50%
			display: block
			width: 12px
			height: 12px
			border-left: 3px solid #fff
			border-bottom: 3px solid #fff
			margin-left: 2px
			transform: translateX(50%) rotate(45deg)
	.slick-next.slick-arrow
		width: 24px
		height: 32px
		z-index: 900
		right: 40px
		background: rgba(255, 255, 255, 0.45)
		&::before
			content: ""
			right: 50%
			display: block
			width: 12px
			height: 12px
			border-left: 3px solid #fff
			border-bottom: 3px solid #fff
			margin-left: -2px
			transform: translateX(50%) rotate(225deg)
	.slick-dots
		bottom: -35px
		.slick-active
			background-color: var(--main-color)
		li
			height: 2px
			width: 50px
			margin: 0 10px
			background-color: var(--slick-dots)
			&::before
				content: ""
		li button:before
			content: ""

.brands
	margin: 60px 0
	padding: 50px 100px
	background-color: var(--bg-color)
	&__inner
		display: flex
		justify-content: space-between
		margin-top: 45px
	&__items
		display: flex
		flex-direction: column
		padding: 0 20px
	&__item
		display: flex
		position: relative
		margin-left: 70px
		padding: 10px 0
	&__img
		max-width: 60px
		position: absolute
		top: 50%
		left: -35px
		transform: translate(-50%, -50%)
	&__title
		position: relative
		text-decoration: none
		font-family: Roboto
		font-style: normal
		font-weight: 300
		font-size: 18px
		line-height: 21px
		color: var(--font-color)
		&:hover
			&::after
				opacity: 1
		&::after
			opacity: 0
			content: ''
			display: block
			position: absolute
			bottom: -4px
			left: 0
			width: 100%
			height: 2px
			background-color: var(--third-color)
			transition: opacity .2s ease-in-out
