/*============= BUTTONS STYLE ============= */
.btn
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	width: 200px
	height: 40px
	color: #fff
	line-height: 1.2
	font-weight: bold
	font-family: var(--main-font), sans-serif
	font-size: 14px
	transition: 0.5s
/*============= INDEX PAGE ============= */
.nav
	&__inner
		display: flex
.directory
	width: 235px
	border: 1px solid #F0F0F0
	box-sizing: border-box
	padding: 5px 15px 15px 15px
	li
		padding-bottom: 3px
		a
			text-decoration: none
			font-family: Geometria
			font-style: normal
			font-weight: 500
			font-size: 14px
			line-height: 18px
			color: var(--menu-font-color)
.mn-slider
	width: calc(100% - 235px)
	&__item
		position: relative
	&__info
		position: absolute
		left: 15%
		top: 50%
		transform: translate(-15%, -50%)
		h2
			color: #FFFFFF
			font-family: Geometria
			font-style: normal
			font-weight: bold
			font-size: 50px
			line-height: 63px
			text-transform: uppercase
			margin-bottom: 25px
		a
			color: #FFFFFF
			font-family: Geometria
			font-style: normal
			font-size: 24px
			line-height: 30px
			font-weight: 500
			text-transform: uppercase
			text-decoration: none
			padding: 10px 50px
			border: 2px solid #fff
	.slick-list
		margin: 15px 15px 35px 15px
	.slick-prev.slick-arrow
		width: 24px
		height: 32px
		z-index: 900
		left: 40px
		background: rgba(255, 255, 255, 0.45)
		&::before
			content: ""
			left: 50%
			display: block
			width: 12px
			height: 12px
			border-left: 3px solid #fff
			border-bottom: 3px solid #fff
			margin-left: 2px
			transform: translateX(50%) rotate(45deg)
	.slick-next.slick-arrow
		width: 24px
		height: 32px
		z-index: 900
		right: 40px
		background: rgba(255, 255, 255, 0.45)
		&::before
			content: ""
			right: 50%
			display: block
			width: 12px
			height: 12px
			border-left: 3px solid #fff
			border-bottom: 3px solid #fff
			margin-left: -2px
			transform: translateX(50%) rotate(225deg)
	.slick-dots
		bottom: -35px
		.slick-active
			background-color: var(--main-color)
		li
			height: 2px
			width: 50px
			margin: 0 10px
			background-color: #c4c4c4
			&::before
				content: ""
		li button:before
			content: ""

.brands
	background-color: var(--bg-color)